<div class="container well">
	<%= simple_form_for(@captain) do |f| %>
	  <%= f.error_notification %>

    <%= f.association :user %>
    <%= f.input :name %>
    <%= f.association :world %>
   
    <%= f.button :submit %>
	<% end %>
</div>