<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.find(@captain.user).username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @captain.name %>
</p>

<p>
  <strong>World:</strong>
  <%= @captain.world %>
</p>


<%= link_to 'Edit', edit_captain_path(@captain) %> |
<%= link_to 'Back', captains_path %>
