.container.well
	.col-md-6
		%table.table.table-striped
			%th Planet Name
			%th World
			%th Owned By
			%th Planetary Defense Enabled?
			%th{:colspan => "3"}
			- @planets.each do |planet|
				%tr
					%td= planet.name
					%td= planet.world.name
					%td
						- if Captain.find_by_id(planet.owned_by) != nil
							= Captain.find(planet.owned_by).name
						- else
							No one
					%td= planet.planetary_defense
					%td= link_to 'Show', planet, :class => "btn btn-sm btn-default"
					%td= link_to 'Edit', edit_planet_path(planet), :class => "btn btn-sm btn-default"
					%td= link_to 'Destroy', planet, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger"
		= link_to "New Planet", new_planet_path, :class => "btn btn-default"