<%= simple_form_for(@player_ship) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :captain %>
    <%= f.association :ship %>
    <%= f.input :name %>
    <%= f.input :fuel_total %>
    <%= f.input :fuel_remaining %>
    <%= f.input :cargo_spaces %>
    <%= f.input :fighters %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
