<p id="notice"><%= notice %></p>

<h1>Listing Player Ships</h1>

<table>
  <thead>
    <tr>
      <th>Captain</th>
      <th>Ship</th>
      <th>Name</th>
      <th>Fuel total</th>
      <th>Fuel remaining</th>
      <th>Cargo spaces</th>
      <th>Fighters</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_ships.each do |player_ship| %>
      <tr>
        <td><%= player_ship.captain %></td>
        <td><%= player_ship.ship %></td>
        <td><%= player_ship.name %></td>
        <td><%= player_ship.fuel_total %></td>
        <td><%= player_ship.fuel_remaining %></td>
        <td><%= player_ship.cargo_spaces %></td>
        <td><%= player_ship.fighters %></td>
        <td><%= link_to 'Show', player_ship %></td>
        <td><%= link_to 'Edit', edit_player_ship_path(player_ship) %></td>
        <td><%= link_to 'Destroy', player_ship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player ship', new_player_ship_path %>
